{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" action="{{ path('_connexion') }}" >
    <label>Nom d'utilisateur : <input type="text" name="username" /></label><br />
    <label>Mot de passe : <input type="password" name="password" /></label><br />
    <input type="submit" value="Connexion" />
</form>
{% endblock %}
